@charset "utf-8";

/* PC */
/* default style *//* default style *//* default style *//* default style *//* default style */
/* default style *//* default style *//* default style *//* default style *//* default style */
a{
    text-decoration: none;
}

ul {
    list-style:none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family:  'Hiragino Kaku Gothic Pro', 'Domine', sans-serif;
}

h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,p{
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.7rem;
}

label {
    color: #144766;
    font-weight: 600;
}

.mtb50 {
    margin: 70px 0;
}

.en {
    font-family: 'Helvetica Neue','Hiragino Kaku Gothic Pro', sans-serif;;
}

.container {
    max-width: 1280px;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

.max1080 {
    max-width: 880px;
}

.highlight-blue {
    color: #9FDAFF;
}

.wht {
    color: white;
}

.effect-fade {
    position: relative;
    overflow: hidden;
    color: transparent; /* 初期状態では文字を透明にします */
}

.effect-fade::after {
    content: attr(data-text); /* ここでテキスト内容を挿入します */
    position: absolute;
    bottom: 0;
    left: 0;
    color: #000; /* 文字の色を設定します。必要に応じて変更してください */
    white-space: pre; /* 改行とスペースを保持する */
    overflow: hidden;
    width: 100%;
    height: 0%; /* 初期状態では高さを0%にします */
    transition: height 0.6s cubic-bezier(0.25, 0.1, 0.2, 1);
}

.effect-fade-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 800ms;
}

.effect-fade-left.effect-scroll {
    opacity: 1;
    transform: translateX(0);
}

.effect-fade.effect-scroll::after  {
    height: 100%; /* 表示時に高さを100%にします */

}

.effect-fade-in {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.effect-fade-in.effect-scroll {
    opacity: 1;
}

/* Header *//* Header *//* Header *//* Header *//* Header *//* Header */
/* Header *//* Header *//* Header *//* Header *//* Header *//* Header */
header {
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 10;

}

.header__nav__menu{
    display: flex;
    gap: 30px;
    padding-right: 60px;
    font-weight: 600;
}

.header__nav__menu a {
    color: black; /* 初期の文字色を変更 */
    transition: 0.4s; /* グラデーションの遷移に時間を設ける */
}

.header__nav__menu a:hover {
    background-image: linear-gradient(90deg, 
    rgb(255, 255, 255), 
    rgb(176, 227, 255),  
    rgb(77, 101, 240),     
    rgb(98, 96, 218),  
    rgb(45, 74, 205),  
    rgb(64, 0, 255));
background-size: 200% auto; /* グラデーションが画面外まで広がるように設定 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* グラデーションが文字に適用されるように設定 */
    background-position: right center; /* グラデーションを初期位置に設定 */
    color: transparent; /* ホバー時のテキスト色を透明に設定 */
}

/* Hero */
.hero {
    color: white;
}

.hero__img {
    background-color: white; /* ここを変更 - 背景色を適切な値に設定 */
    display: flex;
    background-image:url(../Bloom-hd/image/hero_logo.svg) ;
    background-repeat:no-repeat;
    background-position: center;
    background-size: 400px;
    height: 100svh;
    align-items: center;
    vertical-align: bottom;
}

.burger {
    display: none;
}

.dart {
    display: none;
}

/* News *//* News *//* News *//* News *//* News *//* News *//* News */
/* News *//* News *//* News *//* News *//* News *//* News *//* News */

.headline-box{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.7rem;
}

.headline-top {
    font-size: 52px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;  /* テキストの下に線を表示 */
}

.news-content {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
}

.news-content__date {
    font-size: 16px;
    font-weight: bold;
}

.news-content__txt {
    font-size: 16px;
    color: #192B46;
}

/* Business *//* Business *//* Business *//* Business *//* Business *//* Business */
/* Business *//* Business *//* Business *//* Business *//* Business *//* Business */

.business {
    margin-bottom: 20px;
}

.business__content__box{
    display: grid;
    grid-template-columns: 100px 1fr 100px; /* 3カラム */
    gap: 30px; /* カラム間の隙間 */
    padding: 30px 30px;
}

.business_icn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.business_icn img {
    height: 65px;
}

.business__content__txt{
    color: #192B46;
    font-size: 16px;
}

.business__content__name{
    color: #192B46;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding-top: 12px;
}

.btn-arrow {
    padding-top: 40px;
}

.btn-arrow a {
    position: relative; /* 擬似要素の位置指定の基準となる */
    text-decoration: none; /* リンクの下線を削除 */
    color: blue;
  }
  
.arrow__link {
    position: relative;
    text-decoration: none;
    color: inherit;
}

.arrow__link::before {
    content: "";
    position: absolute;
    left: -60px; /* 斜線の開始位置を調整 */
    top:0px;
    bottom: 0;
    width: 80px; /* 斜線の幅 */
    height: 1px; /* 斜線の太さ */
    background-color: #acacac; /* 斜線の色 */
    transform: skewY(-45deg); /* 斜線の角度 */
}

.arrow__link::after {
    content: "→"; /* 矢印文字 */
    display: block; /* ブロックレベル要素に変更 */
    font-size: 24px; /* 矢印の大きさ */
    transition: transform 0.1s ease-in-out; /* アニメーション効果 */
    transform: translateX(0); /* 初期位置 */
}

.btn__txt {
    font-size: 14px;
}

.arrow__link:hover::after {
    transform: translateX(10px); /* ホバー時の右への移動距離 */
}

/* about *//* about *//* about *//* about *//* about */
/* about *//* about *//* about *//* about *//* about */

.about {
    margin-bottom: 100px;
}
.about__txtbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__content{
    text-align: center;
    width: 50%;
    padding: 30px;
}

.about__content a{
    color: #192B46;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.about__content__txt {
    padding-bottom: 25px;
}


.about__content {
    position: relative;
    padding: 10px 20px; /* 余白の追加 */
    transition: background-color 0.3s ease; /* 背景色の遷移効果 */
  }
  
  .about__content a {
    text-decoration: none; /* リンクの下線を削除 */
    color: #000; /* 通常のテキスト色 */
    transition: color 0.3s ease; /* テキスト色の遷移効果 */
  }
  
  .about__content:hover {
    background-color: #192B46; /* ホバー時の背景色 */
  }
  
  .about__content:hover a {
    color: #fff; /* ホバー時のテキスト色 */
  }
  
  .about__content::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px; /* ラインの高さ */
    background: gainsboro; /* ラインの色 */
    transition: width 0.3s cubic-bezier(0.25, 0.1, 0.2, 1); /* ラインの幅の遷移効果 */
  }
  
  .about__content:hover::before {
    width: 100%; /* ホバー時のラインの幅 */
  }

  

/* Footer *//* Footer *//* Footer *//* Footer *//* Footer */
/* Footer *//* Footer *//* Footer *//* Footer *//* Footer */

footer {
    padding: 20px 0 5px 0;
}

.footer__logo {
    text-align: center;
    margin: 50px;

}

.footer__logo img {
    height: 100px;
}

.copyright {
    text-align: center;
    font-size: 14px;
}

/* スマートフォン (縦向き) */
@media only screen and (max-width: 480px) and (orientation: portrait) {

.container {
    padding: 0 20px;
}


/* Header */

.burger {
    display: block;
    font-size: 32px;
    z-index: 11;
    margin-right: 20px;  /* 右側に20pxの余白を追加 */
}

.header__nav {
    display: flex;           /* Flexboxを有効にする */
    justify-content: space-between;   /* 子要素間に均等なスペースを配置 */
    align-items: center;     /* 子要素を垂直方向の中央に配置 */
}

.header__nav__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #144766;
    padding: 76px 20px 20px 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.show {
    opacity: 0.98;
    visibility: visible;
}

.show li {
    position: relative; /* サブ要素の位置調整のためにrelativeに設定 */
    width: 90%;
    border-bottom: 1px solid #d3ebfa; /* 下線 */
}

.show li a {
    color: #d3ebfa;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between; /* テキストと矢印の間隔調整 */
    width: 100%;
    padding: 1.2rem 0.5rem; /* リンク内の余白 */
}

.dart {
    display: block;
    font-size: 1.2em; /* 矢印のサイズ調整 */
    margin-right: 30px;
}



/* Hero *//* Hero *//* Hero *//* Hero *//* Hero */
/* Hero *//* Hero *//* Hero *//* Hero *//* Hero */

.hero__img {
    background-image:url(../Bloom-hd/image/hero_logo.svg) ;
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100px;
    height: 100svh;
    align-items: center;
    vertical-align: bottom;
}

/* News *//* News *//* News *//* News *//* News *//* News */
/* News *//* News *//* News *//* News *//* News *//* News */

.headline-box{
    letter-spacing: 0.2rem;
}
.headline-top {
    font-size: 32px;

}

.news-content {
    display: block;
    align-items: center;
    padding-bottom: 0;
}

.news-content__txt,
.news-content__date {
    font-size: 14px;
}

/* Works *//* Works *//* Works *//* Works *//* Works *//* Works */
/* Works *//* Works *//* Works *//* Works *//* Works *//* Works */


.business__content__box{
    display: grid;
    grid-template-columns:50px 6fr 1fr; /* 3カラム */
    gap: 10px; /* カラム間の隙間 */
    padding: 30px 0px;
}

.business_icn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.business_icn img {
    height: 40px;
    width: auto;
}

.business__content__txt{
    font-size: 14px;
}

.business__content__name{
    font-size: 20px;
    letter-spacing: 0.1rem;
    padding-top: 6px;
}

.btn__txt {
    font-size: 14px;
}

.arrow__link::before {
    display: none;
}

.btn-arrow {
    padding-top: 16px;
}

/* about *//* about *//* about *//* about *//* about */
/* about *//* about *//* about *//* about *//* about */

.about__txtbox {
    display: block;
    text-align: center; /* テキストを中央揃え */
}

.about__content {
    padding: 10px 0px; /* 余白の追加 */
    white-space: nowrap; /* 改行を防ぐ */
    display: inline-block; /* インラインブロックとして表示 */
    width: 100%; /* 必要に応じて幅を調整 */
  }

.about__content a{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.1rem;

}

/* Footer *//* Footer *//* Footer *//* Footer *//* Footer */
/* Footer *//* Footer *//* Footer *//* Footer *//* Footer */

.copyright {
    padding-top: 20px;
    text-align: center;
    color: black;
    font-size: 14px;
}

}

/* スマートフォン (横向き) */
@media only screen and (min-width: 481px) and (max-width: 767px) {

/* default style *//* default style *//* default style *//* default style *//* default style */
.container {
    max-width: 700px;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 10;

}

/* Hero *//* Hero *//* Hero *//* Hero *//* Hero */
/* Hero *//* Hero *//* Hero *//* Hero *//* Hero */    
.hero__img {
    background-image:url(../Bloom-hd/image/hero_logo.svg) ;
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100px;
    height: 100svh;
    align-items: center;
    vertical-align: bottom;
}

/* About *//* About *//* About *//* About *//* About *//* About */
/* About *//* About *//* About *//* About *//* About *//* About */


/* Works *//* Works *//* Works *//* Works *//* Works *//* Works */
/* Works *//* Works *//* Works *//* Works *//* Works *//* Works */

/* about *//* about *//* about *//* about *//* about */
/* about *//* about *//* about *//* about *//* about */


/* Contact *//* Contact *//* Contact *//* Contact *//* Contact */
/* Contact *//* Contact *//* Contact *//* Contact *//* Contact */

/* Footer *//* Footer *//* Footer *//* Footer *//* Footer */
/* Footer *//* Footer *//* Footer *//* Footer *//* Footer */

}

/* タブレット */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

/* default style *//* default style *//* default style *//* default style *//* default style */
.container {
    padding: 0 20px;
}

/* Hero *//* Hero *//* Hero *//* Hero *//* Hero */
/* Hero *//* Hero *//* Hero *//* Hero *//* Hero */    


/* About *//* About *//* About *//* About *//* About *//* About */
/* About *//* About *//* About *//* About *//* About *//* About */


/* Works *//* Works *//* Works *//* Works *//* Works *//* Works */
/* Works *//* Works *//* Works *//* Works *//* Works *//* Works */

/* about *//* about *//* about *//* about *//* about */
/* about *//* about *//* about *//* about *//* about */


/* Contact *//* Contact *//* Contact *//* Contact *//* Contact */
/* Contact *//* Contact *//* Contact *//* Contact *//* Contact */

/* Footer *//* Footer *//* Footer *//* Footer *//* Footer */
/* Footer *//* Footer *//* Footer *//* Footer *//* Footer */


}